html, body {
  margin: 0;
  padding: 0;
}


.app {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 100vh;
    background-color: rgb(31, 31, 31);
}


.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 10px;
    padding-bottom: 70px;
    color:rgb(182, 230, 230);
}

.page-body {
    width: 50%;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}