html, body {
  margin: 0;
  padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(45deg, rgba(139, 0, 0, 0.308), rgb(255, 245, 201), rgba(0, 0, 177, 0.219));
    height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 20px;
}

.page-body {
    width: 60%;
    text-align: center;
}