
.ballot-form {
    background-color: rgba(240, 248, 255, 0.493);
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 80%;
    max-height: auto;
    justify-content: space-evenly;
    padding: 30px;
    padding-top: 20px;
    gap: 20px;
}

.measure-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 100px;
}

.option-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}


