.nav-box {
    height: 60px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    align-items: center;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}